.post-container li {
    padding-inline-start: 0 !important;
}
.text-bold-800{
    font-weight: 800;
}
.text-bold-700{
    font-weight: 700 !important;
}
.post-container ol>li {
    list-style-type: upper-roman;
}
.post-container p, .post-container h1, .post-container h2, .post-container h3, .post-container h4, .post-container ul, .post-container ul li, .post-container ol li {
    font-family: "Nunito Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.home-business{
	z-index: 9;
	position: relative;
	margin-top: -120px;
    background-color: transparent;
}
.home-business .container{
	background-color: #fff;
}

.home-business .row .business-first{
	display: flex;
	align-items: center;
}
.home-business .col-lg-3.d-flex{
	flex-direction: column;
	justify-content: flex-start;
}

.business-item{
	padding: 10px 25px;
}
.business-item img{
	width: 100%;
}
.business-title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: bolder;
    border-top: 1px solid;
    padding-top: 10px;
}


.box-circle{
  transform: translate(13%, 0%);
  width: 80%;
  padding-top: 80%;
}

.circle-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.circle-percentage {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
  background-color: #f1f1f1;
}

.percentage {
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.service-cards p{
	text-align: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 0 10px;
    margin-top: 10px;
    line-height: 24px;
}

.service-cards h2{
	font-size: 42px;
	font-weight: 600;
	margin-top: 25px;
}

.swiper-slide{
	width: 75px;
	padding: 35px;
}
.swiper-slide img{
	width: 100%;
}

.counter-container .counter {
    font-size: 48px;
    font-weight: 800;
}
.counter-container{
  text-align: center;
}

.counter-container label{
    font-size: 48px;
    font-weight: 800;
}

.counter-container label {
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #f44d46;
    opacity: 0.6;
}

.counter-container span {
  opacity: 0.9;
}

.clientele-section .container .sub-section {
    width: 450px;
    position: absolute;
    margin-top: -90px;
    background-color: #fff;
    padding: 30px 0px;
}

.clientele-section .container .sub-section h3 {
    color: #000;
    text-align: left;
}
.clientele-section .container .sub-section p {
    color: #999;
    text-align: left;
    font-weight: 600;
}

.clientele-section .container .sub-section hr {
    border-top: 1px solid #777;
}


.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 4vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #E91E63;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}
.card-header:has(+ .collapse.show) {
    border-bottom: 1px solid #f44d46 !important;
    background: rgba(233, 30, 99, 0.1) !important;
}
.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #f44d46;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}

.faq-sec{
  margin-left: -225px;
}

.faq-section p {
    text-align: left;
    font-size: 16px;
    padding: 0 10px;
    margin-top: -15px;
    line-height: 24px;
}
.faq-heading {
    margin-left: -132px !important;
}

.about-section p {
    font-size: 17px;
    color: #585858;
}

.about-section h3 {
    font-weight: 600;
}

.working-container {
    background-color: #ffffffed;
    padding: 30px;
        margin: 100px auto;
}
.working-title {
    font-size: 17px;
    font-weight: 700;
}
.working-container i {
    font-size: 55px;
}
.about-contact i {
    font-size: 42px;
}
.about-contact-info {
    padding-left: 55px;
    margin-top: -44px;
    margin-bottom: 30px;
}
.about-contact {
    padding-left: 15px;
}

.slick-slider img {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

/* Title Styles */
.slider-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Modern Dots */
.slick-dots {
  bottom: 15px;
}
.slick-dots li button:before {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}
.slick-dots li.slick-active button:before {
  color: #333;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before {
  color: #555;
}

.newsletter-loader {
    text-align: left;
    mix-blend-mode: multiply;
    filter: hue-rotate(294deg);
    margin: 0 15px;
}


.post-container{
  margin: 0px auto 0px auto;
}
.post-container .date{
  font-family: Roboto, sans-serif;
  color: #8d8d8d;
  font-size: 13px;
    margin-top: -6px;
}
.post-container .post-content{
  width: 90%;
  font-family: Open Sans, sans-serif;
  font-weight: normal;
}
.post-container .post{
  padding-top: 20px;
  background-color: #fffafa;
}
.post-container .post-image {
    height: 170px;
    width: 100%;
    overflow: hidden;
    position: relative;

}
.post-container .post-image img {
   object-fit: cover;
    object-position: center;
    height: 200px;
    width: 100%;
}
.post-container .post h1 {
    font-size: 24px;
}
.post-container .date font {
    color: #777;
    font-size: 11px;
    text-transform: capitalize;
}
.post-container .post-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -5px;
}

.detail-post-image {
    height: 280px;
    width: 100%;
    overflow: hidden;
    position: relative;
        display: flex;
        margin-top: 5px;

}
.blog-page .detail-post-image img {
    width: 70% !important;
}
.detail-post-image img {
   object-fit: cover;
    object-position: center;
    height: 280px;
    width: 100%;
}
.detail-post-image .detail-post-summary{
    width: 30%;
    background-color: #f0f0f0;
    padding: 15px;
    border-left: 15px solid #fff;
}
.detail-post-image .detail-post-summary .author, .detail-post-image .detail-post-summary .date {
    font-style: italic;
    font-size: 13px;
    margin-bottom: 0;
}
.detail-post-image .detail-post-summary .summary {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog-section {
    padding-top: 40px;
}
.post-title {
    font-size: 42px;
}

.whatsapp-chat {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
}

.whatsapp-chat img {
    width: 65px;
    transition: .3s ease-in-out all;
}
.post-container figure img {
    width: 100%;
}
.post-container figure {
    margin: auto;
}
.m-footer-bg{
    display: none;
}

.whatsapp-chat:hover img {
    width: 85px;
    filter: grayscale(30%);
}

.form-control {
    appearance: auto !important;
}
.aside-block {
    background-color: #f0f0f0;
}
.aside-form {
    background-color: #3f4959;
    padding: 15px 10px;
    margin-top: 10px;
    text-align: center;
}
.aside-form h4{
    color: #fff;
}
.aside-form .form-control {
    margin-bottom: 15px;
}
.aside-form .btn {
    width: 100%;
}
.aside-form .btn:hover {
    background-color: #fff;
    color: #e04a43;
    font-weight: 500;
}
.btn-theme {
    background-color: #e04a43;
    color: #fff;
}

.aside-link {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.aside-link a span {
    color: #000;
}
.aside-link a {
    padding: 3px 5px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
    transition: .2s ease-in-out all;
}
.aside-link a:hover {
    background-color: beige;
    padding-left: 10px;
}
.aside-link a small {
    color: #000;
    font-size: 9px;
}
.sent-message, .loading{
    display: none;
}
.fa {
    font-weight: 400 !important;
}
.row.service-row.gy-4 {
    justify-content: center;
}
.aside-link a i {
    width: 22px;
    color: #000;
    text-align: center;
}

.blog-share {
    width: 100%;
    background-color: #ffffffe0;
    text-align: center;
}
.blog-share .blog-share-content{
    padding: 5px 0px;
}
.blog-share .blog-share-content p {
    margin-bottom: 5px;
}
.blog-share .blog-share-content a {
    color: #fff;
    margin-right: 8px;
    font-size: 14px;
    padding: 2px 6px;
    font-weight: 500;
    border-radius: 5px;
}
.share-linkedin {
    background-color: #0e76a8;
}
.share-facebook {
    background-color: #1877F2;
}
.share-twitter {
    background-color: #14171A;
}
.share-whatsapp {
    background-color: #25D366;
}
.share-copy {
    
    border: 1px solid #000;
    color: #000 !important;
}
.blog-tags {
    padding: 5px 0;
}
.blog-tags a {
    background-color: #e6e6e6;
    margin-right: 8px;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 9px;
    border: 1px solid #999;
    color: #000;
}
.blog-tags a:hover {
    border-color: #000;
}
.visible-mobile{
    display: none;
}
.sub-footer {
        padding: 45px 0px 40px;
    box-shadow: rgb(0 0 0 / 7%) 0px 6px 8px;
    margin-bottom: 20px;
}
.sub-footer a {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: #2c2c2c;
}
.sub-footer a:hover {
    color: #e3655f;
}
.sub-footer h3 {
    color: #f25e59;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 22px;
}
.sub-footer a i {
    width: 25px;
    font-size: 14px;
}
.case-studies-frame{
    width: 100%;
    height: 305px;
}
.case-studies-container h5 span {
    color: #e04a43;
}
.case-studies-container h5 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}
.sec-section {
    background-color: #ffffff;
}
.marketing-section {
    position: relative;
    background-color: transparent;
}
.new-hero{
    padding-top: 120px;
    position: relative;
    overflow: hidden;
    margin-bottom: -140px;
    z-index: 0;
}
.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  filter: blur(5px); /* Adds the blur effect */
  z-index: 1; /* Places it behind content */
}
.hero-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay with opacity */
}
.hero-content {
  position: relative;
  z-index: 2; /* Places content above the background */
  color: white; 
  padding: 20px;
}

.hero-grid {
    display: flex;
    column-gap: 4px;
}
.hero-grid {
    padding: 7px 0px 0px 7px;
    border-top: 2px solid #e04a43;
    border-left: 2px solid #e04a43;
}
.hero-grid .hero-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-grid .hero-item {
    width: 9.09%;
    height: 400px;
    transition: .5s ease-in-out all;
    position: relative;
}
.hero-grid .hero-item:hover {
    transition: .2s ease-in-out all;
    width: 60%;
}
.hero-grid:has(.hero-item:hover) .hero-item:not(:hover) {
    filter: grayscale(100%);
    width: 4%;
}

.hero-grid:has(.hero-item:hover) .hero-item:not(:hover) > .hero-item-text {
    display: none;
}

.hero-item-text {
    background-image: linear-gradient(#ff000000, #000000);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 4px;
}
.hero-item-text p{
    margin-bottom: 0;
}
.hero-item-title {
}
.hero-item-desc{
    display: none;
    opacity: 0;
    transition: 13s ease-in-out all;
}
.hero-item-link{
    display: none;
}
.hero-grid .hero-item:hover .hero-item-desc {
    display: block;
    opacity: 1;
}
.hero-grid .hero-item:hover .hero-item-link {
    display: block;
}

.hero-grid .hero-item:hover .hero-item-text {
    padding: 5px 15px;
}
.hero-grid .hero-item:hover .hero-item-text .hero-item-title {
    border-bottom:2px solid #e04a43;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
}
.hero-grid .hero-item:hover .hero-item-text .hero-item-desc {
    font-size: 14px;
    line-height: 16px;
    font-weight: lighter;
}
.hero-item-icon{
    display: none;
    padding: 9px 10px;
    border-radius: 50%;
    margin: 13px 10px;
}
.related-blog-heading{
    font-size: 24px;
    font-weight: 600;
}


#newsletter-modal .modal-dialog {
    transform: translate(0, 42%) !important;
}
#newsletter-modal.modal,
#newsletter-modal.fade,
#newsletter-modal.show {
    background-color: #000000cc;
    padding-left: 15px;
    padding-right: 15px;
}
#newsletter-modal h2{

    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
}
#newsletter-modal .modal-content {
    border: none;
    background: transparent;
    padding: 0 19px;
}
#newsletter-modal .close {
    position: relative;
    top: 33px;
    left: 21px;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: #023f38;
    border: none;
    background-color: transparent;
}
#newsletter-modal .modal-header {
    border: none;
}

#newsletter-modal .modal-header .close {
    padding: 0rem 1rem !important;
    margin: -1rem -1rem -1rem auto;

}

#newsletter-modal .modal-body {
    border: none;
    background-color: white;
    padding-bottom: 5px;
    box-shadow: 8px 11px 16px 0px rgb(0 0 0 / 50%);
    border-radius: 10px;
    overflow: hidden;
}
#newsletter-modal .close.focus,
#newsletter-modal .close:focus {
    outline: 0;
    box-shadow: none !important;
}
#newsletter-modal .form-control {
    width: 80%;
    height: 40px;
    border-radius: 8px;
    box-shadow: 3px 5px 5px 1px #dae0e5 !important;
    color: #63686c;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 12px;
}
#newsletter-modal .form-control.focus{

    border: none;
    border-color: #fff;
    border-bottom:1px solid #000;
    outline: 0;
        box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
@media (min-width:599px) {
    #newsletter-modal .modal-dialog {
        max-width: 47rem;
    }

    #newsletter-modal .details {
        padding: 50px 0 25px 35px;
    }

#newsletter-modal .text-muted a{
    color: #c0bfbf;
    font-weight: bold;
    text-decoration: underline;
}
#newsletter-modal small.para{
    font-weight: bold;
    font-size: 14px;
    color: #63686c;
}}

#newsletter-modal [type=submit] {
    cursor: pointer;
    padding: 3px 30px;
}
#newsletter-modal .cancel {
    border: 1px solid #b9b9b9;
    padding: 3px 15px;
}

#newsletter-modal .popup-des{
    display: block;
}
#newsletter-modal .popup-mob{
    display: none;
}

.help-loading {
    opacity: 0;
    width: 85px;
    margin: 20px 0px -10px 56px;
}
.main-service-desc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.header-info {
    background-color: #023f38;
    color: #fff;
    font-size: 13px;
    padding: 10px 0px;
    margin: -16px 0px 12px 0px;
    font-weight: 600;
    padding-bottom: 7px;
}
.header-info .open-newsletter {
    color: #fff;
    border: 1px solid;
    padding: 3px 12px 0px 12px;
    border-radius: 5px;
    background-color: transparent;
}

.header-info a{
    color: #fff;
}
.m-phone-link{
    display: none;
    font-weight: 900;
    color: #023f38;
    margin-right: -45px;
}
.footer-contact-block {
    margin-top: 16px;
}
.footer-contact-block p {
    width: 100%;
    display: flex;
    color: #585858;
}
.footer-contact-block p i {
    margin-right: 12px;
    margin-left: 5px;
}
.footer-contact-block p a {
    font-weight: 600;
    color: #585858;
}
.service-tp {
    font-size: 1rem !important;
    font-weight: normal !important;
    line-height: inherit !important;
}
.section-striped {
    background-color: #f1f1f1;
}
.business-item a {
    color: #000;
}
.business-item a:hover .business-title {
    color: #e04a43;
}
.counter-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.copy-email {
    background-color: #e04a43;
    color: #fff !important;
    padding: 2px 12px;
    font-size: 11px;
    margin-left: -6px;
    border-radius: 5px;
}
.email-slot {
    padding-right: 15px;
    font-weight: 600 !important;
}
#footer .email-slot{
    border-bottom: 1px solid #e04a43;
}



/* Pagination */

.active>.page-link, .page-link.active {
    background-color: #e04a43 !important;
    border-color: #e04a43 !important;
}
.page-link {
    padding: 5px 15px;
    color: #e04a43;
}



/* Blogs Style */

.post-container ol {
    background-color: #f0f0f0;
    padding-top: 12px;
    padding-bottom: 12px;
}
.post-container ol li {
    padding-bottom: 12px;
    font-style: italic;
}
.post-container ol li span {
    font-style: italic !important;
}
.post-container p {
    padding-left: 16px;
}
.post-container > p > span > span > strong {
    margin-left: -16px;
    font-size: 24px;
}
.post-container a > span > span > u, .post-container a > span > i > span > u,  .post-container a {
    text-decoration: none;
    color: #e04a43;
    font-weight: 600;
}
.post-container a:hover > span > span > u, .post-container a:hover > span > i > span > u, .post-container a:hover {
    color: black;
}
.post-container h2 span span {
    font-size: 24px;
    font-weight: 600 !important;
}

.post-container h3 span span {
    font-size: 18px;
    font-weight: 600 !important;
}